<header>
  <nav>
    <div class="nav-wrapper  indigo">
      <div class="row">
        <div class="col s12">
            <a href="#" class="brand-logo">Eduzz</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="#">Candidatos</a></li>
            </ul>
        </div>
      </div>
    </div>
  </nav>

</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
    <footer class="page-footer indigo accent-1">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Sistema de Cadastro de Candidatos</h5>

            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Redes Sociais</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/gihruffy/eduzz">Github</a></li>
                <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.linkedin.com/in/giovanni-martinelli-3989b770/">Linkedin</a></li>

              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2017 Giovanni Martinelli - Todos os Direitos Reservados
          </div>
        </div>
      </footer>


</footer>

